/* SPDX-License-Identifier: GPL-3.0-or-later */

/*
 * Copyright 2023 Doğu Kocatepe
 * This file is part of Sounding Viewer.

 * Sounding Viewer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * Sounding Viewer is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
 * for more details.

 * You should have received a copy of the GNU General Public License along
 * with Sounding Viewer. If not, see <https://www.gnu.org/licenses/>.
 */

:root {
  --dark: rgb(78, 78, 78);
  --light-gray: rgb(236, 236, 236);
  --title-height: 25px;
  --table-color: var(--light-gray);
  --table-hover-color:  rgb(175, 175, 175);
}

@font-face {
  font-family: liberation;
  src: url('../../resources/LiberationSans-Regular.ttf');
}

html, body {
  padding:0px;
  margin:0px;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 10pt;
  align-items: stretch;
  font-family: liberation;
  user-select: none;
}

#loading-div {
  width: 150px;
  height: 40px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18pt;
  color: white;
  visibility: visible;
  background-color: rgb(0, 106, 148);
}

#main-div {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

/* Sounding Table */

#sounding-table {
  height: 100vh;
  background-color: var(--table-color);
}

#sounding-table-title {
  background: var(--dark);
  color: white;
  height: var(--title-height);
  white-space: nowrap;
}

#sounding-table-body {
  display: block;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - var(--title-height));
}

.sounding-table-data-rows {
  white-space: nowrap;
  height: 3.5vh;
  min-height: 20px;
  max-height: 27px;
}

.sounding-table-data-rows:hover {
  white-space: nowrap;
  height: 3.5vh;
  min-height: 20px;
  background-color: var(--table-hover-color);
}

.sounding-table-title-column, .sounding-table-data-cells, .sounding-table-check-cells, .sounding-table-wind-cells {
  display: inline-block;
  width: 3vw;
  min-width: 40px;
}

#sounding-table input[type=checkbox] {
  accent-color: gray;
}

#sounding-table input[type=text] {
  display: inline-flex;
  position:relative;
}

/* Sounding Table Context Menu */

#sounding-table-menu {
  background-color: rgb(249, 249, 249);
  position:fixed;
  z-index: 1;
  visibility: hidden;
  border: solid;
  border-radius: 2px;
  border-width: 1px;
  list-style: none;
  padding: 5px;
}

#sounding-table-menu li:hover {
  background-color: gray;
}

/* Sounding Diagram */

#sounding-diagram-title {
  width: 100%;
  background-color: var(--dark);
  height: var(--title-height);
  text-align: center;
  color: white;
}

#sounding-diagram-toolbar {
  width: 100%;
  background-color: var(--light-gray);
  height: var(--title-height);
  text-align: left;
}

#sounding-diagram-container {
  float: left;
  white-space: normal;
  width: 60vw;
  height: 100vh;
  text-align: center;
}

#sounding-diagram-information-box {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 25px;
  background-color: rgba(221, 221, 221, 0.4);
  border-radius: 5px;
  text-align: left;
}

#sounding-diagram-settings {
  position: absolute;
  top: 250px;
  left: 250px;
  width: 120px;
  height: 250px;
  background-color: rgb(233, 233, 233);
  border: rgb(121, 121, 121);
  border-width: 1px;
  border-style:solid;
  text-align: left;
}

#sounding-level-details {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: rgb(233, 233, 233);
  border: rgb(121, 121, 121);
  border-width: 1px;
  border-style:solid;
  text-align: left;
}

.dialog-title {
  width: 100%;
  background-color: var(--dark);
  color: white;
  cursor: move;
}

.dialog-close {
  float:right;
  background-color: #888888;
  cursor: pointer;
}

#sounding-diagram-settings-body {
  padding:10px;
}

#sounding-diagram-settings input[type=number] {
  width: 50px;
}

#sounding-error {
  color: red;
}

#copyright-notice {
  position: absolute;
  bottom:0px; font-size: 8pt;
  padding: 8px;
}

/* Right panel */

#sounding-right-panel {
  vertical-align: top;
  display: flex;
  flex-flow: column;
  white-space: normal;
  width: 19vw;
  min-width: 240px;
  height: 100vh;
}

/* Sounding function list */
.feature-list {
  box-shadow:0 0 6px #888888;
  flex: 0 1 auto;
  padding-bottom: 20px;
}

.feature-list-title {
  width: 100%;
  height: var(--title-height);
  background-color: var(--dark);
  color: white;
  text-align: center;
}

.feature-list-body ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  height: 100%;
}

/* Sounding Indices */
#sounding-indices-title {
  flex: 0 1 auto;
  background: var(--dark);
  color: white;
  height: var(--title-height);
  text-align: center;
  box-shadow:-3px 0px 6px #888888
}

#sounding-indices-body {
  flex: 1 1 auto;
  display: block;
  overflow: auto;
  height: calc(100% - var(--title-height));
  box-shadow:0 0 6px #888888;
}

.sounding-indices-row {
  white-space: nowrap;
  padding: 5px;
}

.sounding-indices-row:hover {
  background-color: var(--table-hover-color);
}

.sounding-indices-name-column {
  display: inline-block;
  width: 80%;
}

.sounding-indices-value-column {
  display: inline-block;
  width: 20%;
}

